/**
 * reset
 */
body{
  margin: 0;
  background-color: #e0e0e0;
  font-family: "roboto";
  font-weight: lighter;
}
@font-face {
  font-family:"DIN Condensed";
  src: url(/fonts/DINWeb-Cond.ttf),
       url(/fonts/DINWeb-Cond.eot),
       url(/fonts/DINWeb-Cond.woff);
  font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
  font-size: 100%;
  margin: 0;
  line-height: 1;
}
p{
  margin:0;
  line-height: 1;
}
/**
 * css of readme
 */

.canvas{
  width: 619px;
  height: 876px;
  margin: 0px auto; 
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.canvas_container{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 120px;
  padding-left: 280px;
  padding-bottom: 100px;
  overflow: scroll;
}
.atom{
  width: 100%;
  position: relative;
}
.item .value{

  display: inline-block;
}
.item .delete {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;

  visibility: hidden;
}
.item:hover .delete {
  visibility: visible;
}
.info_item{
  width: 100%;
}
.info_item img{
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.info_addBtn{

}
.list{
  height: 200px;
}
.atom:hover .atom_edit{
  display: block;
}
.atom_edit{
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.atom_svg_bar svg{
  width: 80%;
  transition: all;
}
.atom_svg_bar svg rect{
  transition: all 1s;
}
/**
 * panel
 */
.panel{
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 280px;
  border-radius: 4px;
  padding-top: 72px;
  padding-bottom: 30px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
}
.panel_container{
  width: 95%;
  margin: 0 auto;
}
.panel_container_title{
  padding-bottom: 20px;
}
.panel_section_body{
  font-size: 0px;
}
.item_proto{
  font-size: 20px;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 2px;
  vertical-align: top;
  margin:0px 6.5px 10px;
  cursor: pointer;
}
.item_proto:hover{
  background-color:rgba(0,0,0,0.2);
}
.panel_info{
  position: relative;
  height: 156px;
}
.panel_info img{
  position: absolute;
  width: 100%;
  height: auto;
}

.panel_avatar img{
  width: 100%;
}

.panel_avatar{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  z-index: 2;
  border-radius: 50%;
  overflow: hidden;
}
.panel_section_title{
  height: 46px;
  line-height: 46px;
}
.panel_section_title:hover{
  background-color: #f7f7f7;
}
.panel_btns{
  margin-left: 20px;
}
/**
 * item edit
 */
.info_btn{
  width: 100px;
  height: 30px;
  text-align: right;
  position: absolute;
  right: 5px;
  top: 5px;
}
.info_btn--add{
  margin-right: 10px;
}
.info_btn button{
  padding: 0;
  font-size: 20px;
  outline: none;
  color: #fff;
  border:none;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  border-radius: 50%;
  background-color: blueviolet;
}
.item_proto_img{
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.item_proto_img img{
  display: inline-block;
  width: 40%;
  height: auto;
  vertical-align: middle;
}
.item_proto_des{
  text-align: center;
  height: 20px;
  font-size:14px;
}

/**
 * theme switcher
 */
.toggleSwticher{
  position: fixed;
  right: 20px;
  bottom: 200px;
}
.switcher{
  transition: all .5s;
  height: 200px;
  border-top:1px solid #00bfa5;
  background-color: rgba(255,255,255,0.6);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  color: #00bfa5;
  box-sizing: border-box;
  padding: 20px;
}
.switcher_item{
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.switcher_item img{
  width: 100px;
  height: auto;
}

/**
 * submit
 */
.submit_btn{
  position: fixed;
  right: 20px;
  bottom: 240px;
}
.beforeSubmit{
  font-size: 20px;
  position: fixed;
  right: 20px;
  bottom: 260px;
}

/**
 * nav bar
 */
.navbar{
  height: 72px;
  line-height: 72px;
  background-color:#2196f3;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}
.navbar_item{
    text-align: center;
}
.navbar_logo{
  float: left;
  width: 150px;
  font-size: 20px;
  font-weight: lighter;
}
.navbar_preview{
  overflow: hidden;
  text-align: right;
  padding-right: 50px;
}
.navbar_icon{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  font-size: 30px;
  cursor: pointer;
}
.navbar_form{
  display: inline-block;
   vertical-align: middle;
}
.navbar_btn{
  background:none;
  border: 0;
  color: #fff;
}
/**
 * THEME HUI
 */

.hui{
  box-sizing: border-box;
  border:9px solid #127BBE;
  padding: 0px 54px 0px;
  font-family: "DIN Condensed";
  color: #127BBE;
}
.hui::after{
  content: '.';
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}
.hui .block{
  min-height: 647px;
  width: 45%;
}
.hui .head{
  font-size: 36px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 54px;
}
.hui .block_0{ 
  float: left;
}
.hui .block_1{
  float: right;
}
.hui .item_header{
  font-family: "DIN Condensed";
  font-size: 20px;
  margin-bottom: 10px;
}
.hui .item{
  font-family: "Helvetica","Arial",sans-serif;
  display: block;
  font-size: 24px;
  position: relative;
  border-width:1px 0 0px 0;
  background-image: url('/dist/hui_border.svg');
  background-repeat: repeat-x;
  padding-top: 7px;
  padding-bottom: 20px;
  /**
  background-image: -webkit-repeating-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
  -webkit-border-image:
    -webkit-repeating-linear-gradient(
      -45deg,
      #979797 0px,
      #979797 1px,
      transparent 0, transparent 4px) 1;
  -webkit-border-image:
    repeating-linear-gradient(
      -45deg,
      #979797 0px,
      #979797 1px,
      transparent 0, transparent 4px) 1;
  border-image:
    -webkit-repeating-linear-gradient(
      -45deg,
      #979797 0px,
      #979797 1px,
      transparent 0, transparent 4px) 1;
  border-image:
    repeating-linear-gradient(
      -45deg,
      #979797 0px,
      #979797 1px,
      transparent 0, transparent 4px) 1;
    **/
}
.hui .atom{
  color: #666;
}
.hui .item-list-vertical .list_item .title{
  font-size: 13px;
  line-height: 11px;
  margin-bottom: 5px;
}
.hui .item-list-vertical .list_item{
  margin-bottom: 10px;
}
.hui .item-list-vertical .list_item .description{
  font-size: 10px;
  line-height: 12px;
}
.hui .item-info .list_item{
  font-size: 14px;
}
.hui .item-info .list_item{
  font-size: 14px;
}
.hui .item_textarea .list_item .value{
  font-size: 14px;
  line-height: 16px;
}
.hui p{
  line-height: 1.2;
}
