/**
 * reset
 */
body{
  margin: 0;
  background-color: #e0e0e0;
}
/**
 * css of readme
 */
.item{
  display: block;
  font-size: 24px;
  position: relative;
  padding: 20px;
}
.canvas{
  font-size: 0;
  width: 900px;
  border-radius: 4px;
  margin: 30px auto; 
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.atom{
  width: 100%;
  min-height: 40px;
  font-size: 20px;

}
.item_header{
  width: 100%;
  padding-bottom: 10px;
  border-bottom:1px solid #00bfa5;
}
.item .value{

  display: inline-block;
}
.item .delete {
  float: right;

  padding: 0;

  background-color: #fdfdfd;
  border: none;

  cursor: pointer;

  visibility: hidden;
}
.item:hover .delete {
  visibility: visible;
}
.info_item{
  width: 100%;
}
.info_item img{
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.info_addBtn{

}
/**
 * panel
 */
.panel{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  background-color: #fff;
  position: fixed;
  top: 100px;
  left: 100px;
  border-radius: 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.panel_container{
  width: 80%;
  margin: 0 auto;
}
.panel_container_title{
  padding-bottom: 20px;
}
.item_proto{
  display: block;
  padding: 10px;
  border-radius: 2px;
  background-color: #00bfa5;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/**
 * item edit
 */
.info_btn{
  width: 100px;
  height: 30px;
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
}
.info_btn--add{
  margin-right: 10px;
}
.info_btn button{
  padding: 0;
  font-size: 20px;
  outline: none;
  color: #fff;
  border:none;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
  border-radius: 50%;
  background-color: blueviolet;
}
/**
 * theme switcher
 */
.switcher{
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  font-size: 20px;
  color: white;
}